* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  background-color: #a58e74;
  color: white;
  padding: 50px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

nav .nav-links {
  display: flex;
  gap: 80px;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.left-logo {
  display: flex;
  align-items: center;
}

.left-logo a {
  font-size: 2.3rem;
  font-weight: bolder;
  margin-right: 10px;
}

.right-button button {
  background-color: #f4f4f4;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.6rem;
  cursor: pointer;
}
