* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #F5FFC2;
}

a {
  text-decoration: none;
  color: #fff;
}


.hero {
  text-align: center;
  padding: 100px 20px;
  color: #333;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #808C44;
  color: #fff;
  border-radius: 5px;
}

.hero .btn:hover {
  background-color: #333;
}

.recipe-details {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.recipe-details h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
}

.video-container {
  margin-bottom: 30px;
}

video {
  width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.ingredients-list ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.ingredients-list ul li {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.footer {
  padding: 20px;
  background-color: #808C44;
  color: #fff;
  text-align: center;
}